<form method="post" action="/continent/<%= @continent.id %>">
  <label for="name">Name: </label>
    <input
    id="name"
    type="text"
    name="name"
    value="<%= @continent.name %>"/> <br>
  <input type="submit" value="Edit continent"/>
  
