<h1>Wanna add something new to your wish list?</h1>
<form method="post" action="/my-bucket-list">

  <label for="select_continent">Select continent </label>
    <select id="select-continent" name="continent_id">
    <% @continents.each do |continent| %><option value=<% continent.id %>><%= continent.name %></option>
    <% end %>
    </select>
  <br>

  <label for="select_country">Type in country </label>
    <input id="select-country" type="text" name="select_country"/><br>

  <label for="select_city">Type in city </label>
    <input id="select-city" type="text" name="select_city"/><br>

  <input type="submit" value="Add new to wish list"/>

</form>
