<div class="europe-image">
<div class="main-text">

<h1>Europe</h1><h5></h5>
<p>Europe, in particular ancient Greece and ancient Rome, was the birthplace of Western civilisation. The fall of the Western Roman Empire in 476 AD and the subsequent Migration Period marked the end of ancient history and the beginning of the Middle Ages. Renaissance humanism, exploration, art and science led to the modern era. Since the Age of Discovery started by Portugal and Spain, Europe played a predominant role in global affairs. Between the 16th and 20th centuries, European powers controlled at various times the Americas, almost all of Africa and Oceania and the majority of Asia. by Wiki</p>

<h4>What to see then? </h4>
<p>Paris, France.</p>
<p>Florence, Italy.</p>
<p>Santorini, Greece.</p>
<p>Amsterdam, Netherlands.</p>
<p>London, England.</p>
<p>Barcelona, Spain.</p>
<p>Rome, Italy.</p>
<p>Reykjavik, Iceland.</p>
  </div>
  </div>
