<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Travel Bucket List</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/visited">Visited</a></li>
      <li><a href="/my-bucket-list">My Bucket List</a></li>
      <li><a href="/add-new">Add New</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
