<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>My Travel Bucket List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <ul>
      <li><a href="/">Your Bucket List</a></li>
      <li><a href="/city/new">Add New City To Your List</a></li>
      <li><a href="/visited">Visited already!</a></li>
      <li><a href="/europe">Need inspiration? Europe!</a></li>
      <li><a href="/southamerica">Need inspiration? South America!</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
