<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Travel Bucket List</title>
  </head>
  <body>
    <ul>
      <li><a href="/country">country</a></li>
      <li><a href="/country/new">country new</a></li>
      <li><a href="/city">city</a></li>
      <li><a href="/city/new">city New</a></li>
      <li><a href="/continent/new">continent New</a></li>
      <li><a href="/continent">continent</a></li>

    </ul>
    <%= yield %>
  </body>
</html>
