<div class="south-image">
<div class="main-text">

<h1>South America</h1><h3></h3>
<p>South America has an area of 17,840,000 square kilometers (6,890,000 sq mi). Its population as of 2018 has been estimated at more than 423 million. South America ranks fourth in area (after Asia, Africa, and North America) and fifth in population (after Asia, Africa, Europe, and North America). Brazil is by far the most populous South American country, with more than half of the continent's population, followed by Colombia, Argentina, Venezuela and Peru. In recent decades Brazil has also concentrated half of the region's GDP and has become a first regional power. by Wiki</p>

<h4>What to see then? </h4>
<p>Lima, Peru.</p>
<p>Buenos Aires, Argentina.</p>
<p>Rio de Janeiro, Brazil.</p>
<p>La Paz, Bolivia.</p>
<p>Lake Titicaca, Peru.</p>
<p>Cartagena, Colombia.</p>
<p>Quito, Ecuador. </p>
<p>Valparaiso, Chile.</p>
<p>La Paz, Bolivia. </p>

</div>
</div>
