<h1>What you have already seen!</h1>
<ol>
  <% @cities.each do |city| if city.visited == 'f' %>
  <p>
  <%= city.name() %> in
    <%= city.country() %> -
      <%= city.continent.name() %></p>
      <% end %>
      <% end %>
</ol>


<h4>Wow</h4>
<h4>Well Done!</h4>
