<h1>What I've already seen!</h1>
<ol>
  <% @cities.each do |city| if city.visited == 1%>
  <li>
  <p><%= city.name() %> in <%= city.country() %>, <%= city.continent %></p>
  </li>
<% end %>
<% end %>
</ol>


<h1>wow</h1>
