<div class= "main-image">
<div class= "city-new">
<br>
<h1>Wanna add new city?</h1>
<h3>
</h3><br>
<form method="post" action="/city">

  <label for="select-continent">Select continent </label>
    <select id="select-continent" name="continent_id">
    <% @continents.each do |continent| %> <option value=<%= continent.id %>> <%= continent.name %></option>
    <% end %>
    </select>
<br>
  <label for="select-country">Select country </label>
    <select id="select-country" name="country_id">
      <% @countries.each do |country| %>
        <option value=<%= country.id %>><%= country.name %>
        </option>
        <% end %>
    </select>
  <a href="/country/new"> Or add new one!</a>
<br>


<label for="type_city">Type in city </label>
  <input id="type_city" type="text" name="name"/>
<br>

<label for="visited">Visited already? </label>
  <input id="visited" type="radio" name="visited" value="True">Yes</input>
  <input id="visited" type="radio" name="visited" value="False">No</input>
<br>
<input class = "button1" type="submit" value="Add new city"/>

</form>
</div>
</div>
